extends layout

block content
    h1 This is CommonGood
    p 
      | CommonGood is a platform to donate for 
      | small projects in your community. Choose
      | a cause you want to support and help
      | people around you!

    h2 Make an impact!